*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after{
  box-sizing: inherit;
}

html{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

#outtermostContainer{
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  padding: 32% 7%; 
}

body{
    background-color: #f9f0ff;
}

#container{
  background-color:#ffffff;
  border-radius: 5%;
  padding: 25px;
}

#header{
  display:flex;
  color: #2f1533;
  align-items: center;
  margin-bottom: 20px;
}

h1{
  font-weight: 700px;
}

h4{
  font-weight: 600px;
}

#header img{
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.question-toggle{
  display: flex;
  align-items: center;

}

#icon{
  flex-basis: 10%;
  margin-right: 0;
}

.question-toggle h4{
  flex-basis: 90%;
  margin-right: 20px;
}

.question{
  color: #2f1533;
  padding: 15px 0;
}

#question-1{
  border-bottom: 2px solid #f9f0ff; 
}

#question-2{
  border-bottom: 2px solid #f9f0ff; 
}
#question-3{
   border-bottom: 2px solid #f9f0ff; 
}
#question-4{
  padding-bottom: 0;
}

.answer p {
  margin-top: 20px;
}

.question-toggle:hover{
  color: #CA5ADB;
  cursor: pointer;
}




@media (min-width: 376px){
  #outtermostContainer{
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    padding: 14% 27%;   
  }
  
  h1{
    font-size: 3rem;
  }

  #header img{
    width: 35px;
    height: 35px;
  }

  #container{
    /* width: 80%; */
    margin: 0 auto;
    max-width: 1440px;

  }  
}